{
    "presets": [[
				  "@babel/preset-env",
				  {
					"targets": {
					  "ie": "11"
					}
				  }
				], 
				"@babel/preset-react","@babel/preset-typescript"],
    "plugins": [       
        "@babel/plugin-proposal-export-default-from",
        [
            "@babel/plugin-proposal-decorators",
            { "decoratorsBeforeExport": false, "legacy": false }
        ],
       "@babel/plugin-proposal-class-properties",  
        "@babel/plugin-proposal-export-namespace-from",
        "@babel/plugin-transform-modules-commonjs"
    ]
}